/.DS_Store
/.cache/
/.config/
/.docker/
/.dotnet/
/.npm/
/.nuget/
/.local/
/.vscode/
/Desktop/.DS_Store
/Desktop/demo/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
../BlazorDictionary/
../ChartsExample/
../Client/
../SignalRChatServerExample/
../SignalRClientExample/
../ECommerceApp/
